@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url('../assets/animateddogs.jpg')no-repeat;
    background-size: cover;
    background-position: center;
} 

.content{
    max-width: 650px;
    margin: 60px 100px;
}

.content .info h2{
    background-color: #ECF5A8;
    border-radius: 20px;
    color: #8DD9D1;
    font-size: 55px;
    text-transform: lowercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
    padding: 20px;
}

.content .info h2 span{
    margin-left: 60px;
    color: #49AAf5;
}

.content .info p{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 40px;
    background-color: #49AAf5;
    border-radius: 20px;
    padding: 20px;
}

.content .info a{
    color: #8DD9D1;
    background: #ECF5A8;
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    margin-right: 10px;
}

.content .info a:hover{
    color: #49AAf5;
}

/* label{
    display: none;
} */

#check{
    z-index: 3;
    display: none;
}

/* responsive styles */

@media (max-width: 960px){
    /* header .navigation{
        display: none;
    }
    label{
        display: block;
        font-size: 25px;
        cursor: pointer;
        color: #8DD9D1;
    }
    label:hover{
        color: #49AAf5;
    }
    label .close-btn{
        display: none;
    }
    #check:checked ~ header .navigation{
        z-index: 2;
        position: fixed;
        background: #ECF5A8;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #check:checked ~ header .navigation a{
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }
    #check:checked ~ header label .menu-btn{
        display: none;
    }
    #check:checked ~ header label .close-btn{
        z-index: 2;
        display: block;
        position: fixed;
    }
    label .menu-btn{
        position: absolute;
        right: 2.4em;
    }
    header .logo{
        position: absolute;
        bottom: -6px;
    } */

    .content .info h2{
        font-size: 45px;
        line-height: 50px;
    }

    .content .info h2 span{
        font-size: 40px;
        font-weight: 600;
    }

    .content .info p{
        font-size: 14px;
    }
}

@media (max-width: 560px){
    .content .info h2{
        font-size: 35px;
        line-height: 40px;
    }

    .content .info h2 span{
        font-size: 30px;
        font-weight: 600;
    }

    .content .info p{
        font-size: 14px;
    }
}